@import 'src/assets/styles/templates';

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 10px 20px;
  gap: 10px;

  border-radius: $br_default;
  border: 1px solid var(--c_blue);

  cursor: pointer;
  font-size: $fs_default;
  font-weight: 500;

  transition: all 0.15s ease-in-out;

  &:active {
    opacity: 0.5;
  }
}

.outlined {
  background-color: transparent;
  color: var(--c_blue);

  @media (hover: hover) {
    &:hover {
      background-color: var(--c_blue);
      color: white;
    }
  }

  &:disabled {
    color: var(--c_grey);
    border: 1px solid var(--c_grey);
    background-color: transparent;

    opacity: 0.5;
    pointer-events: none;
  }
}
.filled {
  background-color: var(--c_blue);
  color: white;

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: var(--c_blue);
    }
  }

  &:disabled {
    border: 1px solid var(--c_grey);
    background-color: var(--c_grey);

    opacity: 0.5;
    pointer-events: none;
  }
}
