@import 'src/assets/styles/templates';

.button {
  --c_main: var(--c_blue);
  --c_secondary: var(--c_white);

  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 10px 20px;
  gap: 10px;

  border-radius: $br_default;
  border: 1px solid var(--c_main);

  cursor: pointer;
  font-size: $fs_default;
  font-weight: 500;

  transition: all 0.15s ease-in-out;

  svg {
    width: 24px;
    height: 24px;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    --c_main: var(--c_grey);

    opacity: 0.5;
    pointer-events: none;
  }
}

.outlined {
  background-color: var(--c_secondary);
  color: var(--c_main);

  svg {
    path {
      stroke: var(--c_main);
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--c_main);
      color: var(--c_secondary);

      svg {
        path {
          stroke: var(--c_secondary);
        }
      }
    }
  }
}
.filled {
  background-color: var(--c_main);
  color: var(--c_secondary);

  svg {
    path {
      stroke: var(--c_secondary);
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--c_secondary);
      color: var(--c_main);

      svg {
        path {
          stroke: var(--c_main);
        }
      }
    }
  }
}

.red {
  --c_main: var(--c_red);
}
