// colors

$c_blue: #1991ff;
$c_white: #fff;
$c_black: #23242b;
$c_grey: #b4b4b9;

// text

$fs_h1: 24px;
$fs_large: 18px;
$fs_default: 16px;
$fs_small: 12px;

// border radius

$br_default: 8px;
$br_small: 5px;

@mixin flex-col-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}
